.icon {
	width: auto;
	height: 1em;
	line-height: 1em;
	display: inline-block;

	& > img {
		width: auto;
		height: 100%;
		vertical-align: middle;
	}

	&+& {
		margin-inline-start: 0.5ch;
	}
}
