h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #333333;
	font-weight: 600;
}

h2 {
	font-size: 18px;
}

h3,
h4,
h5,
h6 {
	font-size: 14px;
}

ol,
ul {
	-webkit-padding-start: 20px;
}

strong {
	color: #333333;
	font-weight: 600;
}
