.main {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: #333333;
	}

	& .exp-item {
		break-after: avoid;
	}

	& p,
	& li {
		line-height: 30px;
	}

	& h2 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	& h2 {
		margin-left: 10px;
		position: relative;

		&:before {
			content: '';
			display: block;
			border-left: 3px solid #00B38A;
			height: 16px;
			width: 3px;
			position: absolute;
			left: -7px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	& section {
		padding: 50px 50px 10px;
		font-size: 14px;
		color: #666666;
	}

	& .exp+.exp {
		margin-top: 30px;
	}

	& .exp-item+h4,
	& ol+h4,
	& ul+h4,
	& p+h4 {
		margin-top: 30px;
	}

	& .exp-item {
		display: block flex;
		flex-direction: row;
		align-items: stretch;

		& h3,
		& p {
			margin: 0;
			line-height: initial;
		}

		& img {
			width: 46px;
			height: 46px;
			margin-right: 10px;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: content;
		}

		& .exp-right {
			display: block flex;
			flex-direction: column;
			justify-content: space-around;
			flex-grow: 1;
		}

		& .exp-duration {
			display: block flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: content;
		}
	}
}
