.main {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: #333333;
	}

	& p,
	& li {
		line-height: 30px;
	}

	& h2 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	& h2 {
		margin-left: 10px;
		position: relative;

		&:before {
			content: '';
			display: block;
			border-left: 3px solid #00B38A;
			height: 16px;
			width: 3px;
			position: absolute;
			left: -7px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	& section {
		padding: 50px 50px 10px;
		font-size: 14px;
		color: #666666;
	}

	& .exp+.exp {
		margin-top: 30px;
	}

	& .exp-item+h4,
	& ol+h4,
	& ul+h4,
	& p+h4 {
		margin-top: 30px;
	}
}
