/* We want to control margin ourself during print */
@page {
	margin-right: 0;
	margin-left: 0;
}

/*
 * Formatter would format `@page:first` as `@page: first`
 * but Chrome really don't like that
 */
@page:first {
	margin-top: 0;
}

/*
 * For screen media we add some margin to preview what
 * it look like during print
 */
@media screen {
	html {
		background-color: rgb(82, 85, 89);
	}

	body {
		margin: 50px auto 54px auto !important;
		width: 720px;
		background-color: white;
		box-shadow: 0 0 15px rgb(60, 63, 65);
	}
}

@media not screen {
	/*
	 * Remove margin during print and potentially
	 * other media
	 */
	body {
		margin: 0;
	}
}

body {
	font-size: 14px;
	font-family: "Hiragino Sans GB", "Microsoft Yahei", "SimSun", Arial, "Helvetica Neue", Helvetica;
	color: #333;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:not(:has(*)) {
	color: #555;
	background-color: transparent;
	text-decoration: none;

	&:hover {
		color: #00b38a;
	}

	&:not(:has(*)) {
		text-decoration: underline;

		&::after {
			content: ' ';
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: middle;
			background-image: url(weui-icon/src/assets/filled/link.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

::selection {
	color: #fff;
	background-color: #00b38a;
}
