body {
	font-size: 14px;
	font-family: "Hiragino Sans GB", "Microsoft Yahei", "SimSun", Arial, "Helvetica Neue", Helvetica;
	color: #333;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:not(:has(*)) {
	color: #555;
	background-color: transparent;
	text-decoration: none;

	&:hover {
		color: #00b38a;
	}

	&:not(:has(*)) {
		text-decoration: underline;

		&::after {
			content: ' ';
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: middle;
			background-image: url(weui-icon/src/assets/filled/link.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

::selection {
	color: #fff;
	background-color: #00b38a;
}
